.container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    margin-top: 96px; /* Adjust this value according to the height of your navBar */
  }
  
  @media (min-width: 752px) {
    .container {
      flex-direction: row;
    }
  
    .content {
      margin-top: 0;
      margin-left: 96px; /* Adjust this value according to the width of your navBar */
    }
  }
  